@media only screen and (max-width: 808px) {
    .aesthetic_metadata_panel_frame {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: unset;
    }

    .aesthetic_metadata_panel_frame .line {
        visibility: collapse;
        width: 0px;
        min-width: 0px;
    }
}