.desktop_application_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
}

.desktop_application_img {
    width: 75px;
    height: 75px;
    align-self: center;
}

.desktop_application_header {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.desktop_application_subtext {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.desktop_application_subtext a {
    font-size: 15px;
}