.FormStyle_1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    /* height: 400px; */
    padding: 15px;
    /* padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px; */
    row-gap: 12px;
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
}

@media only screen and (max-width: 415px) {
    .FormStyle_1 {
        width: 89%;
    }
}

.FormStyle_1_header {
    font-size: 20px;
}

.FormStyle_1_description {
    font-size: 14px;
}

.FormStyle_1_logo {
    display: flex;
    flex-direction: column;
    max-width: 120px;
    max-height: 120px;
}

.FormStyle_1_logo img {
    max-width: 120px;
    max-height: 120px;
}

.FormStyle_1_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
}

.FormStyle_1_div_email {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.FormStyle_1_div_error {
    font-size: 13px;
    font-weight: bold;
    color: rgb(255, 38, 38);
}